<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="http://www.morphbit.com/thymeleaf/component" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/smartheaterDetailLayout}">
<head>
<title>Heater Detail</title>
</head>
<body>
	<section>
		<div layout:fragment="content-header-left" id="baseImg">
			<img th:src="@{/static/silhouette.jpg}" class="detailImg gt-md" />
		</div>
		<div layout:fragment="content-header-title" id="baseTitle">
			<span class="text-bigger" th:text="${model.heater.name}"></span> <br />
		</div>
		<div layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" class="text-tertiary-inverted on-left" flat round size="lg" icon="fas fa-ban"
				url="@{/heater/} + ${model.heater.heaId}" ariaLabel="Cancel" />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" :round size="lg" color="primary" icon="edit" ariaLabel="Edit" class="on-left" />
			<q-fab color="purple" icon="keyboard_arrow_down" direction="down" >
			  <q-tooltip slot="tooltip"  anchor="center left" self="center right" :offset="[20, 0]" >Modifier le mode</q-tooltip>
			  	<q-fab-action  color="primary" th:@click="|httpPostAjax('@{_switchAuto}',{})|" icon="fas fa-recycle" >
			  		<q-tooltip anchor="center left" self="center right" :offset="[20, 0]">Passer en mode automatique</q-tooltip>
			  	</q-fab-action>
			  	<q-fab-action  color="secondary" th:@click="|httpPostAjax('@{_changeMode}', {'mode':'arret'})|" icon="fas fa-ban" >
			  		<q-tooltip anchor="center left" self="center right" :offset="[20, 0]">Arrêter</q-tooltip>
			  	</q-fab-action>
			  	<q-fab-action  color="secondary" th:@click="|httpPostAjax('@{_changeMode}', {'mode':'confort'})|" icon="fas fa-fire" >
			  		<q-tooltip anchor="center left" self="center right" :offset="[20, 0]">Passer en mode confort</q-tooltip>
			  	</q-fab-action>
			  	<q-fab-action  color="secondary" th:@click="|httpPostAjax('@{_changeMode}', {'mode':'eco'})|" icon="fas fa-leaf" >
			  		<q-tooltip anchor="center left" self="center right" :offset="[20, 0]">Passer en mode éco</q-tooltip>
			  	</q-fab-action>
			  	<q-fab-action  color="secondary" th:@click="|httpPostAjax('@{_changeMode}', {'mode':'horsgel'})|" icon="fas fa-snowflake" >
			  		<q-tooltip anchor="center left" self="center right" :offset="[20, 0]">Passer en mode hors-gel</q-tooltip>
			  	</q-fab-action>
			  </q-fab>
			<th:block id="baseActions">
			</th:block>
		</div>
	</section>
	<section layout:fragment="content">
		<vu:block title="General Information">
			<vu:grid cols="2">
				<vu:text-field object="heater" field="name" />
				<vu:text-field object="heater" field="dnsName" />
				<vu:checkbox object="heater" field="auto" />
				<vu:select object="heater" field="proCd" list="protocols"/>
				<vu:select object="heater" field="wcaId" list="calendars"/>
			</vu:grid>
		</vu:block>
		
		<vu:block title="Evolution sur 24h" th:if="${!model.modeCreate}">
			<canvas id="myChart" height="500"></canvas>
		</vu:block>
		<vu:include-data-primitive key="heaterData" />
		<q-page-sticky position="bottom-right"> 
			<vu:button-submit th:if="${model.modeEdit}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" />
		</q-page-sticky>
	</section>
		
		<div layout:fragment="javascript-footer">
			<script th:if="${!model.modeCreate}">
				var ctx = document.getElementById('myChart').getContext('2d');
				var graphTemperatureData = vueData.heaterData.timedDataSeries.map(function(value){
			    	return {
			    		x : value.time.epochSecond*1000,
			    		y : value.values["temperature:mean"]
			    	}
			    });
				var graphHumidityData = vueData.heaterData.timedDataSeries.map(function(value){
			    	return {
			    		x : value.time.epochSecond*1000,
			    		y : value.values["humidity:mean"]
			    	}
			    });
				var myChart = new Chart(ctx, {
				    type: 'line',
				    data: {
				        datasets: [{
				            label: 'Température',
				            data: graphTemperatureData,
				            yAxisID: 'temperature-y-axis',
				            backgroundColor : 'rgba(255, 159, 64, 0.2)'
			        	},
			        	{
				            label: 'Humidité',
				            data: graphHumidityData,
				            yAxisID: 'humidity-y-axis',
				            backgroundColor : 'rgba(75, 192, 192, 0.2)'
			        	}]
				    },
				    options: {
				    	maintainAspectRatio: false,
				        scales: {
				        	xAxes: [{
				                type: 'time',
				                time: {
				                    unit: 'hour'
				                }
				            }],
				            yAxes: [{	
						            	id: 'humidity-y-axis',
						            	position: 'right',
						                ticks: {
						                	suggestedMin: 40,
					               		}
					            	},{
						            	id: 'temperature-y-axis',
						            	ticks: {
						                	suggestedMin: 10,
					                	}
				            		}
				            ]
				        },
				        plugins: {
							zoom: {
								pan: {
									enabled: true,
									mode: 'x'
								},
								zoom: {
									enabled: true,
									mode: 'x'
								}
							}
						}
				    }
				});
			</script>
		</div>
</body>
</html>