<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
	
	<display-name>smartheater</display-name>
	<context-param>
		<param-name>boot.applicationConfiguration</param-name>
		<param-value>/META-INF/smartheater.yaml</param-value>
	</context-param>
	<context-param>
		<param-name>boot.db.source</param-name>
		<param-value>java:/comp/env/jdbc/DataSource</param-value>
	</context-param>
	<context-param>
		<param-name>boot.db.classname</param-name>
		<param-value>io.vertigo.database.impl.sql.vendor.h2.H2DataBase</param-value>
	</context-param>
	<context-param>
		<param-name>app.version</param-name>
		<param-value>0.0.1</param-value>
	</context-param>
	
	

	<listener>
		<listener-class>io.vertigo.vega.impl.webservice.servlet.AppServletContextListener</listener-class>
	</listener>


	<filter>
		<filter-name>SparkFilter</filter-name>
		<filter-class>io.vertigo.vega.plugins.webservice.webserver.sparkjava.VegaSparkFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SparkFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	
	
	<!-- prevent Locking of static files on windows -->
	<context-param>
		<param-name>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</param-name>
		<param-value>false</param-value>
	</context-param>
	<!-- serve static files by jetty -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	
	

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>403</error-code>
		<location>/login.jsp</location>
	</error-page>
</web-app>