<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/smartheaterListLayout}"
>
	<head>
		<title>Home</title>
		<script type="text/javascript">
			VUiExtensions.dataX.summary = {
				  heaterCount : 1,
				  meanTemperature : 22
			  };
			
			VUiExtensions.methods.heaterModeLabel = function (mode) {
			    switch (mode) {
					case "arret":
						return "Arrêt"
					case "confort":
						return "Confort"
					case "eco":
						return "Eco"
					case "horsgel":
						return "Hors-gel"
					}
			  };
			VUiExtensions.methods.getIconName = function (icon) {
				  switch (icon) {
				  	case "01n":
				  		return "fa-moon";
				  	case "02n":
				  		return "fa-cloud-moon";
				  	case "03n":
				  		return "fa-cloud";
				  	case "04n":
				  		return "fa-cloud";
				  	case "09n":
				  		return "fa-cloud-moon-rain";
				  	case "10n":
				  		return "fa-cloud-showers-heavy";
				  	case "11n":
				  		return "fa-bolt";
				  	case "13n":
				  		return "fa-snowflake";
				  	case "50n":
				  		return "fa-cloud";
				  	case "01d":
				  		return "fa-sun";
				  	case "02d":
				  		return "fa-cloud-sun";
				  	case "03d":
				  		return "fa-cloud";
				  	case "04d":
				  		return "fa-cloud";
				  	case "09d":
				  		return "fa-cloud-sun-rain";
				  	case "10d":
				  		return "fa-cloud-showers-heavy";
				  	case "11d":
				  		return "fa-bolt";
				  	case "13d":
				  		return "fa-snowflake";
				  	case "50d":
				  		return "fa-cloud";
				}
				  
			  };
		</script>
	</head>
	
	<body>
		<section layout:fragment="content" class="col q-col-gutter-md " >
			<div class="row q-col-gutter-md">
			<div class="col-xl-4 col-md-6 col-sm-12 col-xs-12 ">
				<q-card>
					<q-card-section class="text-h6">
				<span class="text-h5 text-primary" >{{dataX.summary.heaterCount}}</span><span> radiateur géré</span>
			</q-card-section>
			<q-card-separator></q-card-separator>
					<q-card-section class="items-center">
						<dl>
						<vu:include-data object="countsByMode" field="'*'" />
						  <div v-for="countByMode in vueData.countsByMode" class="row" >
					  <dt>{{heaterModeLabel(countByMode.mode)}}</dt>
					  <dd>{{countByMode.count}}</dd>
				  </div>
				</dl>
					</q-card-section>
				</q-card>
			</div>
			<div class="col-xl-4 col-md-6 col-sm-12 col-xs-12 ">
				<q-card>
					<q-card-section class="text-h6" >
						Température moyenne
					</q-card-section>
					<q-card-separator></q-card-separator>
					<q-card-section>
						<span class="q-display-1 text-primary" >{{dataX.summary.meanTemperature}}°C</span>
					</q-card-section>
				</q-card>
			</div>
			<div class="col-xl-4 col-md-6 col-sm-12 col-xs-12 ">
				<q-card>
					<vu:include-data object="weatherInfo" field="'*'" />
					<q-card-section class="text-h6">Météo exterieure</q-card-section>
					<q-card-separator></q-card-separator>
					<q-card-section>
				<div class="row items-center">
					<div class="col-4">
						<div class="row justify-end"><q-icon size="6em" :name="'fas '+getIconName(vueData.weatherInfo.icon)" ></q-icon></div>
					</div>
					<div class="col-8">
						<div class="row justify-center q-display-1 text-primary" >{{vueData.weatherInfo.temperature}}°C</div>
						<div class="row justify-center q-headline text-weight-light">{{vueData.weatherInfo.humidity}}% d'humidité</span></div>
						<div class="row justify-center q-headline text-weight-light" >{{vueData.weatherInfo.description}}</div>
						<div class="row justify-center q-headline text-weight-light text-italic" >{{vueData.weatherInfo.location}}</div>
					</div>
				</div>
			</q-card-section>
				</q-card>
			</div>
			</div>
  			<vu:block title="Evolution sur une semaine" style="height: 600px;">
  				<canvas id="myChart" height="500"></canvas>
  			</vu:block>
  			<vu:include-data-primitive key="electricalData" />
  			<vu:include-data-primitive key="indoorTemperatureData" />
  			<vu:include-data-primitive key="outdoorTemperatureData" />
		</section>
		
		<div layout:fragment="javascript-footer">
			<script>
				var ctx = document.getElementById('myChart').getContext('2d');
				var graphElectricalData = vueData.electricalData.timedDataSeries.map(function(value){
			    	return {
			    		x : value.time.epochSecond*1000,
			    		y : value.values["meanPower:mean"]
			    	}
			    });
				var graphIndoorTemperatureData = vueData.indoorTemperatureData.timedDataSeries.map(function(value){
			    	return {
			    		x : value.time.epochSecond*1000,
			    		y : value.values["temperature:mean"]
			    	}
			    });
				var graphOutdoorTemperatureData = vueData.outdoorTemperatureData.timedDataSeries.map(function(value){
			    	return {
			    		x : value.time.epochSecond*1000,
			    		y : value.values["temperature:mean"]
			    	}
			    });
				var myChart = new Chart(ctx, {
				    type: 'line',
				    data: {
				        datasets: [{
				            label: 'Consommation Electrique',
				            data: graphElectricalData,
				            yAxisID: 'power-y-axis',
				            backgroundColor : 'rgba(75, 192, 192, 0.2)'
			        	},
			        	{
				            label: 'Température intérieure',
				            data: graphIndoorTemperatureData,
				            yAxisID: 'temperature-y-axis',
				            backgroundColor : 'rgba(255, 159, 64, 0.2)'
			        	},
			        	{
				            label: 'Température extérieure',
				            data: graphOutdoorTemperatureData,
				            yAxisID: 'temperature-y-axis',
				            backgroundColor : 'rgba(54, 162, 235, 0.2)'
			        	}]
				    },
				    options: {
				    	maintainAspectRatio: false,
				        scales: {
				        	xAxes: [{
				                type: 'time',
				                time: {
				                    unit: 'hour'
				                }
				            }],
				            yAxes: [{
				            	id: 'power-y-axis',
				                ticks: {
				                    beginAtZero: true
				                }
				            }, 
				            {	
				            	id: 'temperature-y-axis',
				            	position: 'right',
				                ticks: {
				                	suggestedMin: 10,
				                }
				            }]
				        },
				        plugins: {
							zoom: {
								pan: {
									enabled: true,
									mode: 'x'
								},
								zoom: {
									enabled: true,
									mode: 'x'
								}
							}
						}
				    }
				});
			</script>
		</div>
	</body>
</html>