<html>
<head>
<title>Sample "Hello, World" Application</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="static/jquery.schedule.js"></script>
<link rel="stylesheet" href="static/jquery.schedule.css">
</head>
<body>
	<div id="app">
		 <router-view></router-view>
	</div>

	<script type="text/javascript">
	const WeeklyCalendarEdit = {
			  name : "weekly-calendar-edit",
			  template: `
			  		<div>
			  			<weekly-calendar-detail v-bind:weeklyCalendar="weeklyCalendar" v-bind:is-edit="false" >
						</weekly-calendar-detail>
					</div>
				 `,
			  beforeRouteEnter (to, from, next) {
				 $.get("api/weeklyCalendars/"+ to.params.id, data => {
			      next(vm => vm.setWeeklyCalendar(data))
			    })
			  },
			  beforeRouteUpdate (to, from, next) {
				  $.get("api/weeklyCalendars/"+ to.params.id, data => {
				      this.setWeeklyCalendar(data)
				    })
			  },
			  methods: {
				  setWeeklyCalendar : function (data) {
					  this.$data.weeklyCalendar  = data
				  }
			  },
			  data: function () {
				  return {
			  		  weeklyCalendar:  {}
			  	  }
			  }
			}
	
	const WeeklyCalendarCreate = {
			  name : "weekly-calendar-create",
			  template: `
			  		<div>
			  			<weekly-calendar-detail v-bind:weeklyCalendar="weeklyCalendar" v-bind:is-edit="true" >
						</weekly-calendar-detail>
					</div>
				 `,
			  data: function () {
				  return {
			  		  weeklyCalendar:  {}
			  	  }
			  }
			}
		
	
		const WeeklyCalendarDetailView = {
		  name : "weekly-calendar-detail",
		  template: `
		  	<div>
			  <form>
				  <div class="form-group row">
				  <label for="name" class="col-sm-2 col-form-label">Nom</label>
				    <div class="col-sm-10">
				    	<input v-if="edition" v-model:value="weeklyCalendar.name"
				                class="form-control" 
				                name="name" 
				                placeholder="">
				    	<input v-else type="text" readonly class="form-control-plaintext" id="staticEmail" v-bind:value="weeklyCalendar.name">
				    </div>
				  </div>
				</form>
			  <input v-model="weeklyCalendar.jsonValue"  type=hidden name="jsonValue" >
			  <div id="schedule"></div>
			  <button  v-if="edition" v-on:click="save">Sauvegarder</button>
			  <button  v-else v-on:click="toogleEdit">Modifier</button>
		  	</div>	
			 `,
		  props: {
			  weeklyCalendar: Object,
			  isEdit: Boolean
		  },
		  mounted: function () {
			  this.$nextTick(function () {
			  	$('#schedule').jqs();
			  });
		  },
		  computed: {
		    // a computed getter
		    edition: function () {
		      return this.$props.isEdit || this.$data.edit
		    }
		  },
		  methods: {
			  save : function () {
				  var weeklyCalendar = JSON.parse($('#schedule').jqs('export'));
				  //translate the format and then save the calendar
				  $.post("api/weeklyCalendars/", JSON.stringify(this.$props.weeklyCalendar) , function( data, textStatus, jQxhr ){
					  router.push({ path: '/weeklyCalendars/'});
				  }, 'json');
				  
			  },
			  toogleEdit : function () {
				  this.$data.edit = !this.$data.edit;
			  }
		  },
		  data: function () {
			  return {
		  		  edit: false
		  	  }
		  }
		}
		
		const WeeklyCalendarList = {
				  template: `
				  	<div>
						<table class="table">
						    <thead>
						      <tr>
						        <th scope="col">Id</th>
						        <th scope="col">Nom</th>
						      </tr>
						    </thead>
							<tbody>
								<tr v-for="weeklyCalendar in weeklyCalendars">
									<td>
									 	<router-link :to="{ path: '/weeklyCalendars/'+ weeklyCalendar.wcaId}">{{ weeklyCalendar.wcaId}}</router-link>
									</td>
									<td>
										{{ weeklyCalendar.name }}
									</td>
								</tr>
							</tbody>
						</table>
						<router-link :to="{ path: '/weeklyCalendars/new'}">Nouveau</router-link>
				  	</div>	
					 `,
				  beforeRouteEnter (to, from, next) {
					 $.get("api/weeklyCalendars", data => {
				      next(vm => vm.setWeeklyCalendars(data))
				    })
				  },
				  methods: {
					  setWeeklyCalendars : function (data) {
						  this.$data.weeklyCalendars  = data
					  }
				  },
				  data: function () {
					  return {
				  		  weeklyCalendars:  []
				  	  }
				  }
				}
		
		const router = new VueRouter({
		  routes: [
			{ path: '/weeklyCalendars/', component: WeeklyCalendarList },
			  // dynamic segments start with a colon
			{ path: '/weeklyCalendars/new', component: WeeklyCalendarCreate },
		    { path: '/weeklyCalendars/:id', component: WeeklyCalendarEdit }
		  ]
		});
		
		Vue.component('weekly-calendar-detail', WeeklyCalendarDetailView);
		Vue.component('weekly-calendar-edit', WeeklyCalendarEdit);
		Vue.component('weekly-calendar-create', WeeklyCalendarCreate);
		Vue.component('weekly-calendar-list', WeeklyCalendarList);
		
		var app = new Vue({
			  el: '#app',
			  router : router,
			  data: {
			    message: 'Hello Vue!'
			  }
			})
		
	</script>

	<script type="text/javascript">
		$.get("api/weeklyCalendars/1000", function(data) {
			console.log(JSON.parse(data.jsonValue));
		});
	</script>
</body>
</html>